﻿@model Aviva_FizzBuzz.ViewModels.FizzBuzzViewModel

@if (Model != null)
{
    <fieldset>
        <legend style="font-size:medium; font-weight:bold">Display Fizz Buzz Data</legend>
        <table>

            @foreach (var display in Model.DisplayData)
            {
                <tr>
                    @if (display.TrimEnd() == "fizz" || display.TrimEnd() == "wizz")
                    {
                        <td class="SetForeColorBlue"> @display</td>
                    }
                    else if (display.TrimEnd() == "buzz" || display.TrimEnd() == "wuzz")
                    {
                        <td class="SetForeColorGreen"> @display</td>
                    }
                    else
                    {
                        <td>@display</td>
                    }
                </tr>
            }
        </table>

        <br />
        <div class="SetBackColor" style="width:100px">
            Page @(Model.DisplayData.PageCount < Model.DisplayData.PageNumber ? 0 : Model.DisplayData.PageNumber)
            of @Model.DisplayData.PageCount
        </div>
        <br />
        <div>
            @if (Model.DisplayData.HasPreviousPage)
            {
                @Ajax.ActionLink("<< First Page", "GetFizzBuzzList", new { userInput = @Model.DisplayData.TotalItemCount, page = 1 }, new AjaxOptions { UpdateTargetId = "DisplayDataDiv", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "SetBackColorLink" })
                @Html.Raw("&nbsp;");
                @Ajax.ActionLink("< Prev", "GetFizzBuzzList", new { userInput = @Model.DisplayData.TotalItemCount, page = @Model.DisplayData.PageNumber - 1 }, new AjaxOptions { UpdateTargetId = "DisplayDataDiv", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "SetBackColorLink" })
            }
            else
            {
                @Html.ActionLink("<< First Page", "", null, new { @class = "SetBackColorLinkDisable" })
                @Html.Raw("&nbsp;");
                @Html.ActionLink("< Prev", "", null, new { @class = "SetBackColorLinkDisable" })
            }
            &nbsp;
            @if (Model.DisplayData.HasNextPage)
            {
                @Ajax.ActionLink("Next >", "GetFizzBuzzList", new { userInput = @Model.DisplayData.TotalItemCount, page = @Model.DisplayData.PageNumber + 1 }, new AjaxOptions { UpdateTargetId = "DisplayDataDiv", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "SetBackColorLink" })
                @Html.Raw("&nbsp;");
                @Ajax.ActionLink("Last Page >>", "GetFizzBuzzList", new { userInput = @Model.DisplayData.TotalItemCount, page = @Model.DisplayData.PageCount }, new AjaxOptions { UpdateTargetId = "DisplayDataDiv", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }, new { @class = "SetBackColorLink" })
            }
            else
            {
                @Html.ActionLink("Next >", "", null, new { @class = "SetBackColorLinkDisable" })
                @Html.Raw("&nbsp;");
                @Html.ActionLink("Last Page >>", "", null, new { @class = "SetBackColorLinkDisable" })
            }
        </div>
        <br />

    </fieldset>
}
