﻿@model Aviva_FizzBuzz.ViewModels.FizzBuzzViewModel
@{
    ViewBag.Title = "User Input and Display Data";
}

@using (Ajax.BeginForm("GetFizzBuzzList", "FizzBuzz", new { userInputDisplayViewModel = Model }, new AjaxOptions { UpdateTargetId = "DisplayDataDiv", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }))
{
    @*@Html.ValidationSummary(true)*@

    <fieldset>
        <legend style="font-size:medium; font-weight:bold">User Input</legend>
        <br />
        <div class="editor-label">
            @Html.DisplayNameFor(model => model.UserInput)
        </div>
        <div class="editor-field focus">
            @Html.TextBoxFor(model => model.UserInput, new { autofocus = "autofocus" })
            @Html.ValidationMessageFor(model => model.UserInput)
        </div>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>
    <br />
}

<div id="DisplayDataDiv"></div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
